.player1 {
    font-size: larger;
    text-align: left;
    padding: 10%;
}

.player2 {
    font-size: larger;
    text-align: right;
    padding: 10%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.space{
        column-count: 3;
        column-gap: 40px;

            
}
.player2_side{   
    align-self: right;
    right: 150px;
}
.player1_side{

}
